img, video{
	max-width: 100%;
	height: auto;
}
figure{
    margin: 0;
}
p {
    color: #ff2222;
}

body{
  background-color: 
#b2dbb9;
}

/* Text Style */
html{
  font-size: 100%;
}
body{
  font-family: Arial, sans-serif;
}

h1{
  font-size: 3rem;
}
